@model IncomingInvoice



<div class="row incCreate">
    <div class="topLine">
      
    </div>
    <div class="container col-lg-6 incCreateBlock">

        <div class="right_panel_content">
            <form>
                <div class="row top_inputs_in_right_panel">
                    <div class="one_div_on_right_panel col-sm-6">
                        <label asp-for="Date">Номер</label>
                        <input asp-for="Date" type="date" class="in_right_panel" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="one_div_on_right_panel col-sm-6">
                        <label asp-for="StorageId">Склад</label>
                        <select asp-for="StorageId" class="in_right_panel" asp-items="ViewBag.Storages"></select>
                        <span asp-validation-for="Storage" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <p class="col-sm-4">Товари по нікладній</p>
                    <p class="col-sm-8"></p>
                    <p class="col-sm-6"></p>
                </div><p class="col-sm-4"><button type="button" class="btn-primary" onclick="$('#rigth_panel2_for_somthing').addClass('open2'); document.getElementById('open2').value = '1';">Додати товар</button></p>
                @await Html.PartialAsync("ProductIn", ViewBag.Products as IEnumerable<Library.Models.Invoice_Product>)
            </form>
        </div>
    </div>


    <div class=" col-lg-6 incCreateBlock">
        
        <div class="div-cash container">
            <div class="row">
                @if (ViewBag.ParentCatName != null)
                {
                    <div class="col-sm-12 cash-parent-categ blue">

                        <a class="" href="/IncomingInvoices/CreatingInvoice/@ViewBag.ParentCatId" id="cash-href">
                            <div class="product-wrapper"> @ViewBag.ParentCatName </div>
                        </a>
                    </div>
                }
                @foreach (var el in ViewBag.categ)
                {

                    <div class="col-sm-3 cash-bacground">
                        <a class="" href="/IncomingInvoices/CreatingInvoice/@el.Id" id="cash-href">
                            <div class="product-wrapper"> @el.Name </div>

                        </a>
                    </div>

                }
                @foreach (var el in ViewBag.prod)
                {

                    <div class="col-sm-3 cash-product">
                        <a class="" href="/IncomingInvoices/AddToCart/@el.Id" id="cash-href-product">
                            <div class="product-wrapper"> @el.Name </div>

                        </a>
                    </div>

                }
            </div>
            <div>

            </div>
        </div>
    </div>
</div>