@model IEnumerable<Library.Models.Product>

@{
    ViewData["Title"] = "Товари і послуги";
}

<h2>Товари і послуги</h2>

<p>
 
        <button type="button" class="btn btn-success" id="create-button" onclick="$('#rigth_panel_for_somthing').addClass('open')" >Створити</button>
</p>
<div class="container">
    <div class="legend">
        <div class="row">
            <div class="col-sm-4">
                Найменування
            </div>
            <div class="col-sm-4">
                Категорія
            </div>
            <div class="col-sm-2">
                Ціна
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                <img src="~/images/noImage.png" />
                <div class="present-text">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)

                    </a>
                </div>
                </div>


                <div class="col-sm-4">
                    <div class="present-text">
                        @Html.DisplayFor(modelItem => item.ParCategory.Name)
                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="present-text" >
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </div>

                </div>
        </div>
       
    }
</div>

@await Html.PartialAsync("CreateR",ViewBag.product as Product)