@model IEnumerable<Library.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>

    <button type="button" class="btn btn-success" id="create-button" onclick="$('#cart_check_confirm_buy_background').removeClass('hidden');$('#create_categ').removeClass('hidden');">Створити</button>
</p>
<div class="container">
    <div class="legend">
        <div class="row">
            <div class="col-sm-6">
                Назва
            </div>
            <div class="col-sm-6">
                Дочірня категорія
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="present-text">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>

            </div>
            <div class="col-sm-6">
                <div class="present-text">
                    @if (item.ParentCategory != null)
                    {
                    @Html.DisplayFor(modelItem => item.ParentCategory.Name)
                    }
                </div>

            </div>
         
        </div>

    }
</div>

@await Html.PartialAsync("CreateC", ViewBag.category as Product)