<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutomationP</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
   
<body>

    <div class="Scontent">
        @RenderBody()
    </div>
    <nav id="menuVertical">
        <div class="menu-header">

        </div>
        <ul>
            <li>
                <a href="#1">
                    <div class="img_n"></div><span>Новости</span>
                </a>
            </li>
            <li>
                <a href="/Cash">
                    <div class="img_n"></div><span>Каса</span>
                </a>
            </li>
            <li>
                <a href="#455">
                    <div class="img_n"></div><span>Точки продажів</span>
                </a>
                <ul>
                    <li><a href="/Products">Рух грошей</a></li>
                    <li><a href="/Categories">Продажі</a></li>
                    <li><a href="/Categories">Повернення</a></li>
                </ul>
            </li>
            <li>
                <a href="#455">
                    <div class="img_n"></div><span>Склади</span>
                </a>
                <ul>
                    <li><a href="/Storages/Remnants">Залишки</a></li>
                    <li><a href="/Categories">Рух товару</a></li>
                    <li><a href="/IncomingInvoices">Прихідні накладні</a></li>
                    <li><a href="/Categories">Переміщення</a></li>
                    <li><a href="/Categories">Списання</a></li>
                </ul>
            </li>
            <li>
                <a href="#455">
                    <div class="img_n"></div><span>Організація</span>
                </a>
                <ul>
                    <li><a href="/PointOfSales">Точки продажу</a></li>
                    <li><a href="/Storages">Склади</a></li>
                    <li><a href="/Users">Співробітники</a></li>
                    <li><a href="/Roles">Доступи</a></li>
                </ul>
            </li>

            <li>
                <a href="#455">
                    <div class="img_n"></div><span>База</span>
                </a>
                <ul>
                    <li><a href="/Products">Товари і послуги</a></li>
                    <li><a href="/Categories">Категорії товарів</a></li>
                </ul>
            </li>

            <li>
                <a href="#4">
                    <div class="img_n"></div><span>Закладки</span>
                </a>
            </li>

            <li>
                <a href="/Account/Logout">
                    <div class="img_n"></div><span>Выход</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <div class="footer">
            Copyright © 2017<br>
            powered by <a href="#1">
                <font color="#9dacaa">Новости</font>
            </a>
        </div>
    </div>


    @RenderSection("Scripts", required: false)

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
