
<div class="div-cash container">
    <div class="row">
       
        @foreach (var el in ViewBag.Points)
        {

            <div class="col-sm-3 cash-bacground">
                <a class="" href="/Cash/SelectPoint/@el.Id" id="cash-href">
                    <div class="product-wrapper"> @el.Name </div>

                </a>
            </div>
        }
    </div>
    <div>

    </div>
</div>