@model Money
<div id="cart_check_confirm_buy_background" class="cart_check_confirm_buy_background hidden">

</div>
<div class="create_categ hidden" id="create_categ">
    <div class="top_line">
        <button type="button" class="exit_button close" onclick="$('#cart_check_confirm_buy_background').addClass('hidden');$('#create_categ').addClass('hidden');"> </button>

    </div>
    <div class="create-categ-content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PointId">Точка продажу</label>
                <select asp-for="PointId" class="form-control" asp-items="ViewBag.PointSelect"></select>
                <span asp-validation-for="PointId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Price" class="control-label">Сумма приходу</label>
                <input asp-for="Price" class="form-control form-item-category" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Coment" class="control-label">Коментар</label>
                <input asp-for="Coment" class="form-control form-item-category" />
                <span asp-validation-for="Coment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="create_categ hidden" id="create_categ1">
    <div class="top_line">
        <button type="button" class="exit_button close" onclick="$('#cart_check_confirm_buy_background').addClass('hidden');$('#create_categ1').addClass('hidden');"> </button>

    </div>
    <div class="create-categ-content">
        <form asp-action="CreateR">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PointId">Точка продажу</label>
                <select asp-for="PointId" class="form-control" asp-items="ViewBag.PointSelect"></select>
                <span asp-validation-for="PointId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Price" class="control-label">Сумма розходу</label>
                <input asp-for="Price" class="form-control form-item-category" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Coment" class="control-label">Коментар</label>
                <input asp-for="Coment" class="form-control form-item-category" />
                <span asp-validation-for="Coment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>